[2015-10-01 17:05] gtobar opened #1 "request android-16"
please, you can add android-16?

[2015-10-02 15:18] anggrayudi commented on #1
Just give me the `framework.jar` from real device (which has Android 4.1.2) and tell me what device type you get from?

[2016-03-09 07:21] JackLauu opened #2 "Can't work"
When I use the android.jar (API 22) in your project, I get a error:

I don't know why, what's more, the built-in type can't be recognized and need import, like String int and more. I don't know why.

My IDE is Android Studio, update to the latest.

[2016-03-09 08:02] anggrayudi commented on #2
Do you use Support Library revision 23.x.x in your project?

[2016-03-09 10:26] JackLauu commented on #2
That's right, may be it's the problem. In android 6.0, there are nothing in the framework.jar, maybe it's the /system/framework/arm/boot.oat?

[2016-03-09 10:34] anggrayudi commented on #2
`framework.jar` only available on real device, instead of emulator device.

Since Support Library 23.x.x was released, you need to have `compileSdkVersion 23` and `targetSdkVersion 23`, but hidden API is limited to API level 22. If you have a real 6.0 device, please upload it to me. I will make it available for API 23.

[2016-03-09 10:34] #2 closed

[2016-03-09 21:52] burningthumb opened #3 "SDK 22 not working?"
I tried this with SDK 22 but when I switch to the one downloaded here the basic objects are missing.  For example Object and String are not found.  I did some research and apparently the process for Lollipop is changed as follows:

    For Lollipop the flow is little different:

        Get /system/framework/arm/boot.oat from lollipop device
        Use 'java -jar oat2dex.jar boot boot.oat'

[2016-03-09 22:44] burningthumb commented on #3
So I tried to make the framework.jar in this way.  Maybe its the same as the one you had already.  I'm not sure (I renamed it from jar to zip)
[framework.zip](https://github.com/anggrayudi/android-hidden-api/files/166225/framework.zip)

[2016-03-10 00:20] burningthumb commented on #3
OK well, it seemed to be some problem with the project itself.  I reverted to a backup and now its working fine so I guess this is closed.

[2016-03-10 00:20] #3 closed

[2016-03-10 05:56] burningthumb opened #4 "Cannot build with android-22 due to aapt error"
The attached simple project builds just fine against the standard android-22 but when I replace the android.jar it fails to build with an aapt error stating android.jar not found.

Any ideas?

[SimpleTest.zip](https://github.com/anggrayudi/android-hidden-api/files/166583/SimpleTest.zip)

[2016-03-10 07:48] JackLauu commented on #4
It's the problem we use support library with 23.x.x. I have nexus 5 and update to android 6.0, but the framework.jar it's only 1KB.

[2016-03-10 08:46] anggrayudi commented on #4
@burningthumb this error was discussed in issue #2.

@JackLauu only some real devices having `framework.jar` with full size. This is why making Android Hidden API project little difficult. Finding someone who have pure `framework.jar` 6.0 almost impossible.

[2016-03-10 08:46] #4 closed

[2016-03-10 12:07] botondbutuza opened #5 "Building v22"
Hey there!

First of all, many thanks for getting v22 up, it going to save me so much time once it compiles!

I've managed to get v21 running, but I need v22, so I grabbed it, and whacked it in /sdk/platform/android-22, but I cannot get it to compile. I looked at the previous issues raised here, and my problem is not that I'm using v23 build tools. This is my gradle file:

[code]

As you can see,

[2016-03-10 12:22] anggrayudi commented on #5
May be there is something wrong with `framework.jar` in previous device. I will try to get `framework.jar` from different device and rebuild it later.

Just watch this repository to know any changes.

[2016-03-10 12:25] botondbutuza commented on #5
Did you manage to build a project with v22? I tried creating my own android.jar from 22 a month or so ago, and I ran into the same problem as the one reported above, so it's very interesting.

[2016-03-10 18:27] burningthumb commented on #5
I think its very strange.  Just for fun, on v22 I unzipped the Android.jar and then re-zipped it.  Then I get the error.  I did not even change it. I literally just renamed it to a zip, unzipped it, zipped the folder, and renamed it back to a jar.  Maybe that provides a clue ?

[2016-03-10 18:30] botondbutuza commented on #5
I haven't done anything like that, just downloaded it, and popped it in.

[2016-03-10 18:39] burningthumb commented on #5
It seems this problem is known at least one month ago (maybe this is yours botondbutuza):
http://stackoverflow.com/questions/34811406/accessing-android-5-1-internal-apis

[2016-03-10 18:40] botondbutuza commented on #5
Yupp that was my attempt at building my own jar file. Ran into the same issue.

[2016-03-10 18:48] burningthumb commented on #5
Did you see/try the method in the post by corochann?  In his screen shots it looks like he is using sdk-22:
http://corochann.com/importing-android-sdk-with-hidden-apis-493.html

[2016-03-10 23:14] JackLauu commented on #5
@anggrayudi Would you please commit a complete sample project？Your sample only have gradle files. When I create my project, I found that I can only use the android support 23 library. I tried many ways but couldn't solve it, please try and get it, thank you very much.

[2016-03-11 17:14] anggrayudi commented on #5
Dear all, I already fixed android-22 jar. You can use it now.

@JackLauu I'm developing the sample project now. Just wait until I upload it.

[2016-03-11 17:14] #5 closed

[2016-03-11 22:12] burningthumb opened #6 "Sample project with appcompat for android-22"
So I think the issue with android-22 comes down to the fact that, if you have an sdk beyond 22 installed, the Android Studio project wizard is a bit dense when in creates the build.gradle file for the module.   Specifically it uses the later api  com.android.support libraries.

If you uninstall later sdk's then the wizard generates the correct build.gradle file for the module that works with the h

[2016-03-11 23:01] burningthumb commented on #5
Please see my issue #6 on the correct build.gradle file to use with
appcompat libraries and the hidden api 22.

On 3/11/16 9:14 AM, Anggrayudi H wrote:

[2016-03-13 07:16] anggrayudi commented on #1
Use the latest version instead. Uploading this version of hidden API makes my repository larger than space allowed by GitHub.

[2016-03-13 07:16] #1 closed

[2016-03-14 05:07] anggrayudi commented on #6
I have updated the sample project. Also, I have added _Internal Accessor_ to make us able to retrieve internal Android resources.

[2016-03-14 05:07] #6 closed

[2016-03-19 11:48] wasdennnoch commented on #2
The problem with the framework.jar is that it contains no classes.dex file. Many othe people have the same "issue", and no, not in emulators, on real devices. The boot.oat seems to extract the classes.dex files to /system/framework/oat/arm/. Every odex file is there - except for the framework.(o)dex. I don't know if cm is causing this, but I don't have this file. Sorry :(

[2016-03-20 13:01] anggrayudi commented on #4
23.x.x and support libraries 23.x.x it will work?

@burningthumb Any versions of build tools will work, but as this hidden API level only available up to 22, you cannot use Support Library 23.x.x.

[2016-03-24 12:03] amalChandran opened #7 "Framework.jar for Android 6"
I extracted the framework.jar file from nexus 6p. Hope it helps. https://drive.google.com/file/d/0B4Sf9EwVaZ6jY1RlbmNhaHZROFU/view?usp=sharing

[2016-03-25 09:23] anggrayudi commented on #7
@amalChandran Did you pick the jar from emulator? I wonder why the jar less than 5MB.

[2016-03-25 19:31] amalChandran commented on #7
Does it vary if its emulator. I did take it from android n preview from nexus 6p emulator.

[2016-03-26 06:43] anggrayudi commented on #7
Yes, it's vary. Try to open the jar with WinRar and you'll see that this jar doesn't contain `classes.dex` file.

[2016-03-26 06:43] #7 closed

[2016-03-31 15:02] mrgren opened #8 "android 21, cannot resolve some class"
hi , i

android 21 has some issue

1. cannot resolve import android.telephony.SubscriptionInfo;

2.  cannot resolve construcot arraSet .....

thks

[2016-04-08 19:09] wasdennnoch opened #9 "API 23 framework.jar - Finally (hopefully)"
Hi, I randomly looked at my /system/framework folder and guess what I found: A framework.jar! It even contains 2 dex files. I hope that you can do something with it :D

File: http://www.mediafire.com/download/lc34h900a13rb41/framework.jar

Device: SGS3 LTE with BlissPop ROM, Android 6.0.1, Bliss version v6.2

[2016-04-09 14:36] anggrayudi commented on #9
Thanks @wasdennnoch. Also prepare yourself to the new limitation of this library. Android N with API level 24 will be released soon!

I also updated the sample app and library to use API 23.

[2016-04-09 14:36] #9 closed

[2016-04-14 09:50] atship opened #10 "android-23, Constant expression required"
这个变量会报错 MeasureSpec.UNSPECIFIED
[code]

[2016-04-14 14:06] anggrayudi commented on #10
what do you mean? Can you explain well?

[2016-04-15 00:45] atship commented on #10
Oh, sorry...
the MeasureSpec.UNSPECIFIED will cause a compile error: Constant expression required
because the switch statement require a constant expression.
My guess is that, the android.jar has a static field for MeasureSpec.UNSPECIFIED, but not static final

[2016-05-11 04:13] gitzxon opened #11 "android 22, cannot resolve AbsListView.OnScrollListener"
hi,

I came across a compile error "Can not resolve AbsListView.OnScrollListener" when I try to make SomeClass implements AbsListView.OnScrollListener.

thx

[2016-05-11 04:15] gitzxon commented on #11
I changed the android.jar to the original android.jar provided by android, and it compiled successfully.

[2016-05-11 05:23] anggrayudi commented on #11
Have you tried with android 23?

[2016-05-11 07:46] gitzxon commented on #11
I test it on android 23 with hidden api and it works well.

[2016-05-11 07:47] #11 closed

[2016-05-11 17:25] anggrayudi commented on #8
Please try with the latest version of hidden api, and let's see what happens?

[2016-05-30 14:56] #8 closed

[2016-06-02 03:13] anggrayudi commented on #10
Seems that this issue is not active anymore, I will close it now.

[2016-06-02 03:13] #10 closed

[2016-06-13 07:04] ccxclin opened #12 "can`t find CallManager class,why?what should i do?"

[2016-06-13 12:39] anggrayudi commented on #12
Have you tried with the latest version (android-23) ?

[2016-06-14 01:17] ccxclin commented on #12
yes

[2016-06-15 03:41] anggrayudi commented on #12
Please follow the instruction as described [here](https://github.com/anggrayudi/android-hidden-api#usage). But if the error still happen, attach the detail, i.e. Android Studio version, etc.

[2016-06-15 10:38] kingonlive opened #13 "Request: Android API level 24"
Many thanks!! When can we get N version android.jar?

[2016-06-18 14:28] anggrayudi commented on #13
We must wait until the full name is released. After that, we need to find a real device (not _emulator_) with API 24 (not _preview version_) to get `framework.jar` located in `/system/framework` directory. Then, upload this jar to me, so that I can make it available for API level 24.

I'll keep this issue open until someone upload the jar. Don't pick `framework.jar` from preview version of Android

[2016-06-18 14:30] anggrayudi commented on #12
Have the problem resolved?

[2016-06-28 15:39] anggrayudi commented on #12
Seems that this issue is no longer active. I will close it.

[2016-06-28 15:39] #12 closed

[2016-07-01 16:05] initialrxd opened #14 "Cannot import hidden class"
I've replaced the Android.jar for corresponding version. When I import a hidden class, it recognized as unknown class and automatically hide that import statement. And then I still cannot use the class in my Main activity.

[2016-07-01 20:31] marcelolima opened #15 "Can't find mms package under com.google.android"
First of all, thanks for sharing those jars.
My issue is that I'm trying to use the hidden API com.google.android.mms but it isn't available on the downloaded jar for API 23.

[2016-07-02 04:31] anggrayudi commented on #15
`com.google.android.mms` is a Google's library for Android while Android hidden APIs only support non-library package. The proof is you can add this package to `build.gradle` of your app's module, e.g:

[code]

If you really need to use the hidden classes from `com.google.android.mms`, we still have an alternative, i.e. using [Java reflection](http://www.programcreek.com/2013/09/java-reflection-tu

[2016-07-02 04:31] #15 closed

[2016-07-02 04:36] anggrayudi commented on #14
what class did you imported?

[2016-07-02 12:58] marcelolima commented on #15
Hi Anggrayudi,

Thanks! FYI, I'm trying to compile this test from Android CTS suite outside the CTS package:

https://android.googlesource.com/platform/cts/+/5623639ce9a6b52413ae429f49599a1d937ad3c3/tests/tests/telephony/src/android/telephony/cts/MmsTest.java

[2016-07-04 11:20] initialrxd commented on #14
Solved. There's some small issues with IDE, just clean and rebuild. Thx.

[2016-07-04 11:28] #14 closed

[2016-07-13 06:38] aishang5wpj opened #16 "when you used databinding in your project,it will cause 'xxx.xxx.xxx.databinding not exist' exception when building"
如果项目使用了databinding的话，把本地sdk替换成这里的android.jar将会导致编译时提示"xxx.xxx.xxx.databinding"不存在的错误提示，导致编译无法通过。
和leader一起弄了一下午，最后发现是这个问题。
醉了。

[2016-07-13 08:53] anggrayudi commented on #16
What did you say? Please speak in English.

[2016-07-19 13:31] sandiAndi commented on #10
Hi,
I am facing this issue, when i used android-23 jar.

[2016-07-21 04:02] link-nj opened #17 "IWindowManager.Stub cannot be found in android-23.jar"
Many Thanks!
As I use android-23.jar provided by your project, IWindowManager.Stub.asInterface class cannot be found.
But I have checked the android open source of google, IWindowManager.Stub exists as a hidden api.

[2016-07-27 11:20] KilBirDIh opened #18 "Can't import classes from com.android.internal"
Hello, I added your jar for 23 API, added dependecies and repository, tried to rebuild the project and get error:
Error:Execution failed for task ':app:mockableAndroidJar'.

[2016-08-03 16:06] championswimmer opened #19 "THis does not have all hidden APIs"
Basically android.jar is not **only** framework.jar, but also contains classes from a few other common libraries

We at [AOKP](http://aokp.co) need internal APIs to build some of our apps, so we have a script to generate android.jar with all methods.

As you can see in the script here
https://github.com/AOKP/build/blob/mm/tools/customsdkgen.sh#L16
all these classes need to be present in the androi

[2016-08-03 16:08] championswimmer commented on #19
Also compiling this from BlissPop is a bad idea. It will have some methods and fields that not all Android phones have (custom methods and fields Bliss devs have added)

[2016-08-25 01:26] Andecy opened #20 "Google has updated API 24 source"
~~

[2016-08-25 01:29] jp1017 commented on #20
:+1:

[2016-09-13 20:27] Splder commented on #13
https://www.dropbox.com/s/cuae130vro3ejdm/framework.jar

[2016-09-14 13:59] anggrayudi commented on #13
@Splder from which device you get the `framework.jar`?

[2016-09-14 14:13] Splder commented on #13
@anggrayudi this was taken from a Nexus 6P running PureNexus

So far this is the only framework.jar that i have been able to find that have the classes.dex files included

http://forum.xda-developers.com/android/apps-games/app-swipe-navigation-navigation-bar-t3272478/page12

I also have boot.oat file for aosp nexue 5X if you like

I was able to convert the boot.oat to odex but i'm having trouble d

[2016-10-01 12:56] anggrayudi commented on #13
Currently, dex files in the framework.jar you sent wont converted to jar file. I got this exception:
[code]

The previous version of jars were converted successfully. I don't know why this happen. Seems that type of the dex files in API 24 are different with earlier version.

[2016-10-01 13:03] Splder commented on #13
@anggrayudi i also get the same problem maybe we need the framework from a deodex ROM?

[2016-10-01 13:10] #20 closed

[2016-10-01 13:12] anggrayudi commented on #13
Why don't we try it?

[2016-10-04 03:07] jp1017 opened #21 "clean Error:Execution failed for task ':app:mockableAndroidJar'. > java.lang.NullPointerException (no error message) in Android Studio 2.2"
Error:

![20161004103811](https://cloud.githubusercontent.com/assets/7868514/19060924/de57ae08-8a1e-11e6-98fe-67052792023b.jpg)

gradle:

···
    compileSdkVersion 23
    buildToolsVersion "23.0.3"
···

This error comes when using your lib of android-23, and it disappear when using the original android-23.jar.

We know `task ':app:mockableAndroidJar'` is experimental in Android Studio 2.1.3, and I

[2016-10-09 16:52] anggrayudi commented on #21
I also still don't know what happens with hidden API v23. On some users, this error doesn't appear. Otherwise, some users are facing this problem. For me, I don't face this problem.

[2016-10-18 20:29] abhinaykukkadapu commented on #13
@anggrayudi how are you so 100% sure that it is not supported may be we have to deodex in another way?

[2016-10-26 11:11] oginski commented on #13
Whole directory framework from physical device LG G5:

http://www110.zippyshare.com/v/2QxEoftQ/file.html

[2016-11-07 11:59] benniaobuguai commented on #21
I also met this problem today. Are you have solution now ?

[2016-11-08 06:23] KaelLuo commented on #21
I met this problem days ago, for now I clean all the files by hand every every time...., and this do makes me annoy. Does anyone find the solution about this ?

[2016-11-09 07:56] zhangsl commented on #13
Why not compile a jar from AOSP directly?

[2016-11-10 19:28] realmgate commented on #18
I am also encountering this issue on Android Studio 2.2.2.  Whenever I try any clean or build operation this same error occurs.  I am trying to use the 19 API.

[2016-12-03 02:50] IgorEisberg commented on #21
I have this issue as well as I'm using a modified android.jar (which has all the hidden API revealed).
I don't use the unit testing and there's no apparent way to disable it in Android Studio 2.2.2, so I found a workaround for this problem:
1) Go to File -> Settings -> Build, Execution, Deployment -> Compiler
2) Add to "Command-line Options":
`-x :app:prepareReleaseUnitTestDependencies -x :app:moc

[2016-12-03 02:55] jp1017 commented on #21
@IgorEisberg wow, thanks, :+1: :smile:  it works. I just using

[2016-12-03 02:57] IgorEisberg commented on #21
@jp1017 That works too, I just feel as if disabling all of the "unit testing" tasks is better because it's also faster (you have 3 less tasks instead of just 1 task less).
Enjoy!

[2016-12-03 03:02] jp1017 commented on #21
Yes, but I can't disable others for I using [Tinker](https://github.com/Tencent/tinker) which using thems. :disappointed:

[2016-12-03 03:04] IgorEisberg commented on #21
@jp1017 Oh fair enough. Well, at least the problem's solved for now! Gradle is such a buggy thing... -_-

[2016-12-05 07:45] tchgithub commented on #21
@IgorEisberg  I add  -x :app:prepareReleaseUnitTestDependencies -x :app:mockableAndroidJar -x :app:compileReleaseUnitTestSources to my settings   but it still show Error:java.lang.NullPointerException (no error message)
Information:Gradle tasks [:api:generateDebugSources, :api:generateDebugAndroidTestSources, :api:mockableAndroidJar, :api:prepareDebugUnitTestDependencies, :app:generateDebugSources

[2016-12-06 00:13] jp1017 commented on #21
@tchgithub

For this, you should add below to your setting:

For others, do it like this. enjoy it. :smile:

[2016-12-08 02:35] IgorEisberg commented on #21
Another workaround: In your project's main build.gradle, inside "allprojects":
`allprojects {
    repositories {
        jcenter()
    }
    gradle.taskGraph.whenReady {
        tasks.each { task ->
            if (task.name.equals('mockableAndroidJar')) {
                task.enabled = false
            }
        }
    }
}`

[2016-12-08 02:39] IgorEisberg commented on #21
Another workaround: In your project's main build.gradle, inside "allprojects":
[code]

[2016-12-08 02:48] jp1017 commented on #21
@IgorEisberg :+1: After add this to my build.gradle, I found this in `gradle console`:

[code]

It worked too. :+1: , Thank you.

[2016-12-08 03:04] IgorEisberg commented on #21
Yup, it covers the whole project, no matter how you name your modules. It's also more portable since it'll work immediately even if you transfer the project to another computer.
To skip all Test tasks you can change the "if" statement to:
`if (task.name.contains('Test') || task.name.equals('mockableAndroidJar')) {`

[2016-12-13 07:51] LysonLuo opened #22 "How to make sdk includes @hide annotation"
Hi ,Can you describe how to make my own sdk with @hide annotation ?  Whick  mk file should I modify?please tell me ,Thank you !

[2016-12-16 16:51] DVDAndroid commented on #13
@anggrayudi You can use [this dex2jar](https://github.com/anggrayudi/android-hidden-api/files/657744/dex-tools-2.1-SNAPSHOT.zip) to decompile `framework.jar` for API 24

[2016-12-18 08:37] anggrayudi commented on #22
Although you add your own jar with _@hide_ annotation, this never make any changes. You cannot do this.

What actually you see in the Android SDK with this annotation is telling you that classes, methods and resources only exist in the `framework.jar`, and they exist in Android SDK sources jar (available in documentation only) which means you cannot use them. What I did to make us able to use this

[2016-12-18 08:37] #22 closed

[2016-12-19 07:44] hyy007 commented on #21
I do like this, but it didn't work. Please can you give another way to resolve it? Thx a lot! @jp1017

[2016-12-19 11:19] jp1017 commented on #21
@hyy007 May be you should show some codes.

[2016-12-20 07:04] hyy007 commented on #21
java.lang.NullPointerException(no error message). That's the error yestoday, and then when I rebuild the project, it shows: " Error:org.gradle.api.internal.changedetection.state.FileCollectionSnapshotImpl cannot be cast to org.gradle.api.internal.changedetection.state.OutputFilesCollectionSnapshotter$OutputFilesSnapshot
Possible causes for this unexpected error include:<ul><li>Gradle's dependency

[2016-12-20 10:48] jp1017 commented on #21
@hyy007 what for other projects? gradle version? just try any you can.

[2016-12-22 08:05] hyy007 commented on #21
Thank you for your answers for me. I checked out a new version and reopened it, then it went OK just like before... And I still don't know what's the question....I'm not sure if it is the SVN's problem when I work with my teammates.

[2017-01-10 13:08] econBabar opened #23 "Will this api work if"
Hi,
Sorry for creating issue as i didn't find any way to reach you. Will this api work if the app (debug variant) is deployed on real device? Because i'm afraid it will not.

I think this is only good if you want to test app on emulator. Please have your kind words on this comment before you delete this.

Thanks

[2017-01-19 11:19] wajdidhc commented on #13
any progress on this

[2017-01-19 11:23] anggrayudi commented on #23
Yes, it will work. I tried it many times in my physical device.

[2017-01-19 11:23] #23 closed

[2017-01-31 10:06] anggrayudi commented on #17
Have you tried the latest version Hidden API v24?

[2017-01-31 10:09] anggrayudi commented on #13
We just released Hidden API for Nougat 7.0 (API 24).

[2017-01-31 10:09] #13 closed

[2017-01-31 10:26] anggrayudi commented on #21
Try Hidden API v24 and this problem will be solved.

[2017-01-31 10:27] anggrayudi commented on #18
Please use Hidden API v24 to fix this problem.

[2017-01-31 10:28] #17 closed

[2017-01-31 10:29] #18 closed

[2017-02-03 12:57] jp1017 opened #24 "24 compile error"
Error:(50, 20) error: cannot access Editable
bad class file: /home/jp/Android/Sdk/platforms/android-24/android.jar(android/text/Editable.class)
default method found in version 50.0 classfile
Please remove or make sure it appears in the correct subdirectory of the classpath.

[2017-02-04 05:58] anggrayudi commented on #24
English please...

[2017-02-06 05:39] jp1017 commented on #24
@anggrayudi

You can add this code to test:

[code]

[2017-02-07 09:32] aviraxp opened #25 "SDK 25 framework.jar"
Taken from CM14.1, not a very good source but useable.

https://drive.google.com/open?id=0Bxhk8H_5bn54d1dUR2xrYWZuT2s

[2017-02-22 03:34] JuwanZhu opened #26 "compile failed if use Databinding in project"
I  used android-hidden-api in my project, but After enable DataBinding, add following code:

`
dataBinding {
        enabled true
    }
`

[code]

compiled failed about: **Error: com.test.test.databinding not exist**. Compile success if  I don't use android.jar in android-hidden-api project. any help is welcome!

ps: English is not my mother tongue; please excuse any errors on my part.

[2017-02-28 23:10] dco5 opened #27 "No hidden API 18 Android 4.3?"

[2017-03-02 16:00] anggrayudi commented on #27
No, because we have 2 reasons:
1) Most of us are prefer to use the new API, which supports the lower and higher versions of the API.
2) This API is `jar`-formed and the file size is big enough. All of us knew that GitHub limits the maximum size for each repository.

[2017-03-02 16:00] #27 closed

[2017-03-30 03:20] minhdangoz opened #28 "default method found in version 50.0 classfile"
Error:(19, 20) error: cannot access Editable
bad class file: D:\ANDROID\DEVELOPMENT\ADT\sdk\platforms\android-24\android.jar(android/text/Editable.class)
default method found in version 50.0 classfile
Please remove or make sure it appears in the correct subdirectory of the classpath.

[2017-03-30 04:55] jp1017 commented on #28
Similar to this: https://github.com/anggrayudi/android-hidden-api/issues/24

[2017-03-30 07:51] minhdangoz commented on #28
Yes, it's same.

[2017-04-01 05:16] Trumeet commented on #24
I have also encountered this error
[code]

[2017-04-05 09:36] jakubturcovsky commented on #25
Any updates? I'd be great to have android.jar for API 25.

[2017-04-08 08:56] minhdangoz commented on #28
Already fixed, using this version.
https://goo.gl/08ZeXy
please check and update if needed

[2017-04-08 08:57] minhdangoz commented on #25
Use this version of mine
https://goo.gl/08ZeXy

[2017-04-10 11:29] jakubturcovsky commented on #25
@minhdangoz There's only one folder named android-24. I'm looking for version 25.

[2017-04-10 16:14] anggrayudi commented on #25
@jakubturcovsky I'm facing heavy tasks from my lecturer. I hope you can be patient until this Friday for the new version of hidden API.
Thanks.

[2017-04-15 10:08] AndroidDeveloperLB opened #29 "About API 25..."
I get this:

D:\Desktop\android-hidden-api\sample\android-hidden-api\src\main\java\com\anggrayudi\hiddenapi\InternalAccessor.java
Error:(43, 73) error: package com.android.internal.R does not exist
Error:(44, 73) error: package com.android.internal.R does not exist
Error:(45, 73) error: package com.android.internal.R does not exist
Error:(46, 73) error: package com.android.internal.R does not exis

[2017-04-15 10:12] AndroidDeveloperLB commented on #25
I can send it if you wish. Where to look for it?

[2017-04-17 14:59] anggrayudi commented on #29
You created issue before I release hidden API v25. I will close it now.

[2017-04-17 14:59] #29 closed

[2017-04-17 15:20] AndroidDeveloperLB commented on #29
I don't understand.

[2017-04-17 15:32] anggrayudi commented on #28
This issue was fixed in hidden API v25.

[2017-04-17 15:32] #28 closed

[2017-04-17 15:32] anggrayudi commented on #24
This issue was fixed in hidden API v25.

[2017-04-17 15:32] #24 closed

[2017-04-17 15:33] anggrayudi commented on #25
We just released hidden API v25. Check it out!

[2017-04-17 15:33] #25 closed

[2017-04-17 15:34] #16 closed

[2017-04-18 00:23] jp1017 commented on #24
Well done. It works well, Thanks. :smile: :+1:

[2017-04-18 00:29] jp1017 commented on #21
@anggrayudi  25 still existed while the first compiling.

[2017-04-18 08:30] AndroidDeveloperLB commented on #29
I still see this issue. Why close it?

[2017-04-29 15:57] jakubturcovsky commented on #29
@AndroidDeveloperLB Because you couldn't see issue on API 25 before it was even released. Duh.

[2017-04-30 06:56] AndroidDeveloperLB commented on #29
@jakubturcovsky So why close before instead of after? And why be rude?
Anyway, thanks to dev.

[2017-04-30 07:03] AndroidDeveloperLB commented on #29
Now I've checked recent version. I still get this error.
Why close the issue?

[2017-05-02 18:46] AndroidDeveloperLB opened #30 "Having build error"
When importing and trying to build the sample project, I get this error:

Information:Gradle tasks [:app:assembleDebug]
C:\Users\User\Desktop\android-hidden-api\sample\android-hidden-api\src\main\java\com\anggrayudi\hiddenapi\InternalAccessor.java
Error:(43, 73) error: package com.android.internal.R does not exist
Error:(44, 73) error: package com.android.internal.R does not exist
Error:(45, 73) e

[2017-05-04 15:27] DanielKaparunakis commented on #10
I also encountered this issue when using the JAR for API level 23. In case you're interested, [here](https://devmaze.wordpress.com/2011/01/18/using-com-android-internal-part-1-introduction/) is a tutorial on how to build your own custom JAR.

[2017-05-06 09:49] anggrayudi commented on #30
Already fixed in v0.0.7

[2017-05-06 09:49] #30 closed

[2017-05-06 09:56] AndroidDeveloperLB commented on #30
@anggrayudi Now I get this error:

D:\Desktop\android-hidden-api\sample\app\src\main\java\com\anggrayudi\hiddenapi\sample\MainActivity.java
Error:(4, 19) error: cannot find symbol class EthernetManager
Error:(51, 28) error: cannot find symbol method formatShortElapsedTime(MainActivity,int)
Error:(91, 13) error: cannot find symbol class EthernetManager
Error:Execution failed for task ':app:compileD

[2017-05-06 09:58] anggrayudi commented on #30
@AndroidDeveloperLB Please use custom `android.jar` as described in [Usage](https://github.com/anggrayudi/android-hidden-api#usage) with 4 steps.

[2017-05-06 12:17] AndroidDeveloperLB commented on #30
oh ok. Isn't there a better solution for this though?

[2017-05-06 15:37] anggrayudi commented on #30
@AndroidDeveloperLB I don't know exactly when. But when it comes and you have Android O physical device, you can send `framework.jar` file to me, and I will make it available for Android O.

[2017-05-06 16:07] AndroidDeveloperLB commented on #30
@anggrayudi It's already available on the SDK. Here:
https://expirebox.com/download/e46e2bc6f6dc48fe1e53d5655da1aba3.html
What exactly do you do with them? Remove the "hide" annotation?
You have to have it on a real device? If so, from which path?

[2017-05-06 16:10] anggrayudi commented on #30
@AndroidDeveloperLB You don't understand on how to create `android.jar`. I have no time to explain it.

[2017-05-06 16:11] AndroidDeveloperLB commented on #30
ok, but was the file I've shared of any help?

[2017-05-31 01:51] xiehui999 opened #32 "failed"
![image](https://cloud.githubusercontent.com/assets/8230558/26612337/b65578f2-45e6-11e7-9cff-560915037ded.png)

[2017-05-31 07:04] #32 closed

[2017-05-31 07:05] jp1017 commented on #32
24 has this bug, please use 25 @xiehui999

[2017-06-01 09:00] xiehui999 commented on #32
Thanks,

[2017-06-05 08:48] loki5100 opened #33 "can't access com.android.server.wm.WindowManagerService"
When i try to access com.android.server.wm.WindowManagerService i receive W/System.err(10293): java.lang.NoClassDefFoundError: Failed resolution of: Lcom/android/server/wm/WindowManagerService;

[2017-06-08 09:51] wujingchao commented on #33
It's SystemServer code，you can't invoke it.  Because these bind server code not be loaded to your application classloader. You can only invoke it by binder.

[2017-07-28 04:25] stern0m1 opened #34 "com.android.server.wifi.Wifinativ"
Does not have com.android.server.wifi.Wifinativ

[2017-08-22 07:53] xicomdev commented on #21
Error:Execution failed for task ':app:processDebugManifest'.

dependencies {
    compile fileTree(include: ['*.jar'], dir: 'libs')
    androidTestCompile('com.android.support.test.espresso:espresso-core:2.2.2', {
        exclude group: 'com.android.support', module: 'support-annotations'
    })

    compile 'com.victor:lib:1.0.4'
    compile 'com.android.support:multidex:1.0.1'
    compile 'com.sq

[2017-09-04 11:45] HGyllensvard opened #35 "Android-25, View$InvalidateInfo not found"
I have put the android-25 android.jar in my platforms/android-25 folder, we have some projects that work but some of them get this error when building which I'm not sure how to proceed on.

error: cannot access InvalidateInfo
  class file for android.view.View$InvalidateInfo not found
  Consult the following stack trace for details.
  com.sun.tools.javac.code.Symbol$CompletionFailure: class file f

[2017-10-26 16:52] xjpmauricio opened #37 "com.android.internal.telephony.PhoneFactory"
Is it possible to access com.android.internal.telephony.PhoneFactory ?

[2017-11-14 08:24] Trumeet commented on #37
This is an `internal` API, this project only provides `Framework` hidden API now, such as `android.app.StatusBarManager` and etc.
Such as those APIs below are **NOT** included in `Framework APIs`:
`com.android.internal.*`
`com.android.server.*` (in service jar)

`com.android.telephony.PhoneFactory` is included in `telephony` jar. So it not included in this project now. You can try compile AOSP you

[2017-11-14 08:37] Trumeet commented on #33
`com.android.server.*` is server code, please see #37, it doesn't in the framework.
And you also can't access it using reflection, because server classes will only add to `SystemServer`'s `CLASSPATH` by `Zygote`. See [`ZygoteInit#handleSystemServerProcess`](http://androidxref.com/8.0.0_r4/xref/frameworks/base/core/java/com/android/internal/os/ZygoteInit.java#449), it changes classloader.

[2017-11-14 08:40] Trumeet commented on #34
Server code, you can't access it, see #33  and #37 .

[2017-11-14 10:54] Trumeet commented on #19
Hi, just see #36 , it adds jars below.

[2017-11-14 10:54] Trumeet commented on #33
You can download services jars in #36 .

[2017-11-14 10:54] Trumeet commented on #34
You can download services jars in #36 .

[2017-11-14 10:54] Trumeet commented on #37
You can download services jars in #36 .

[2018-02-12 00:11] WajdiMuh opened #38 "android api level 27"
can you please add android api 27

[2018-02-12 14:29] Trumeet commented on #38
see #36

[2018-02-12 14:38] #38 closed

[2018-04-27 05:11] hansionit opened #39 "How to use the service.jar for Android Studio"
How to use the service.jar

[2018-04-27 05:15] hansionit commented on #39
I use the service.jar as libraty to my module,but it's error when I build project:

Static interface methods are only supported starting with Android N (--min-api 24): android.hidl.base.V1_0.IBase android.hidl.base.V1_0.IBase.asInterface(android.os.IHwBinder)
Message{kind=ERROR, text=Static interface methods are only supported starting with Android N (--min-api 24): android.hidl.base.V1_0.IBase an

[2018-05-23 02:03] ysyyork commented on #35
same here. And data binding doesn't work

[2018-05-23 13:43] AndroidNinza commented on #21
I have faced same issue and i have tried above all the answers but it want work for me. I think its worked in other cases. After 2 to 3 hours i will got the solution i am just extending the answer so i post this comment.  In case my current project `minimumSdk 15` and my modal project or dependency library's `minimumSdk 18` so i have change my current project `minimumSdk 18` and it worked for me.

[2018-05-23 19:44] ben221199 opened #40 "Cannot access some resources"
I cannot access some resources. For example: `@android:attr/theme` is accessable, but `@android:attr/pointerStyle` isn't. However, when you look with APK Tool, the identifier exists in resources.arsc. I would like to see this resources unhidden.

[2018-06-22 05:40] gongzelong0718 commented on #10
same problem

[2018-06-22 06:42] gongzelong0718 opened #41 "android-23 will cause build error Constant expression required"
I am using android-23 jar.

[code]
MeasureSpec.UNSPECIFIED will cause a compile error: Constant expression required
because the switch statement require a constant expression.

This bug is not fixed. There is a same issue closed but not fixed.

https://github.com/anggrayudi/android-hidden-api/issues/10

[2018-07-08 14:12] SoyaLeaf commented on #39
+1

[2018-07-10 10:02] Trumeet commented on #39
[code]

[2018-07-10 11:45] SoyaLeaf commented on #39
@Trumeet thx

[2018-07-27 12:27] OneWorld123 opened #42 "sample project not working"
First of all the IDE complains it can't resolve AppCompatActivity. Strangely it still can compile and install the APK onto the test device.

However, when running the app, this list isn't found by `findById` the result is null. NullpointerExceptions follow.

[2018-08-15 11:51] andylqzhang opened #43 "please add android-28"
Thanks!

[2018-08-20 02:37] m8599399 opened #44 "How to use the service.jar for Eclipse"

[2018-08-20 02:42] #44 closed

[2018-09-11 07:37] SharpChen opened #45 "android-28 is coming"
plz add it

[2018-09-11 08:52] anggrayudi commented on #43
Sorry, I have no device with Android Pie. Everyone can send `framework.jar` here and I will make it for you.

[2018-09-11 08:55] anggrayudi commented on #45
Closed as duplicate of #43

[2018-09-11 08:55] #45 closed

[2018-09-25 09:39] jp1017 opened #46 "As 3.2.0 sync error"
As 3.2.0 sync error with api27 in this repo:

Failed to transform file 'android.jar' to match attributes {artifactType=android-mockable-jar, returnDefaultValues=false} using transform MockableJarTransform

[2018-09-25 09:40] jp1017 commented on #46
Sync success with api28

[2018-09-25 19:58] zacharee commented on #46
I have this issue too. It seems to be some sort of new verification in Gradle 3.2.0.

I changed my classpath back to 3.1.4 and it syncs fine. I wonder if there's a new Gradle setting to disable this or if we're out of luck.

[2018-09-26 00:49] KevinJe commented on #46
the old version is ok! Gradle 3.2.0 is error in Sync.

[2018-09-27 10:18] poloolop commented on #46
Even I am facing a compilation issue with Android Plugin version 3.2.0 for latest Android Studio which forces Gradle version 4.6. It gives some translation issue with the SDK android.jar. Awaiting android.jar for API version 28

[2018-09-27 10:21] zacharee commented on #46
You can keep using 4.6. Just change the classpath from 3.2.0 to 3.1.4.

[2018-10-11 08:31] ksmith3036 opened #47 "How to merge android.jar and framework.jar?"
This work looks really impressive!
I am using an Android phone with some extended API's, so the android.jar file exposes a few more classes and methods than normal.
The effect is that I cannot use the android.jar files published here, but will have to merge android.jar and framework.jar myself.
Could you please share information about how to do this?

[2018-10-16 17:31] MrWhite214 commented on #43
[framework.zip](https://github.com/anggrayudi/android-hidden-api/files/2484249/framework.zip)

Device: Oneplus 3T
ROM: LineageOS 16
Date of ROM: Mon Sep 10 2018

[2018-10-25 09:05] daio commented on #46
I think the change responsible for this issue is this one or something related to it:
https://android.googlesource.com/platform/tools/base/+/acf0ab389c444a85371b897d8b2c81d96d31b988

Maybe it'll help figuring out how to workaround this

[2018-11-04 15:54] ysyyork opened #48 "Not compatible with Robolectric > 3.2"
Tested on API level 25 and 26, if I'm using Robolectric 3.2, it's still working. But for some reason that version is not compatible with powermock. Then I upgrade to 3.3 it stops working by raising very weird error like below:
[code]
If I switch SDK back to the original one, it will work perfect. I test 3.3, 3.4 to 4.0 (latest) of robolectric and non of them works.

[2018-11-13 02:34] StormGens commented on #43
Please ~~~~

[2018-11-20 16:03] let-aurn commented on #43
@anggrayudi Can you share how to? Is this just about removing the `@hide` annotations and rebuild the jar?

[2018-11-20 20:04] anggrayudi commented on #43
Did it!

[2018-11-20 20:04] #43 closed

[2018-11-20 20:06] anggrayudi commented on #43
Sorry to make you wait. I was really busy. Now, you can use Hidden APIs v28.0

[2018-11-20 20:17] anggrayudi commented on #43
@let-aurn No, it is not that easy Ferguso. You need to replace all hidden classes from original `android.jar` with classes from `framework.jar`.

[2018-11-20 20:40] anggrayudi commented on #42
Have you tried with Hidden APIs v28?

[2018-11-23 01:59] haidaodashushu opened #49 "android28.jar compile error"
permission error when  access method

[2018-11-26 11:18] yoshida-be opened #50 "android hidden api for android 28"
I using your android hidden api for android 28 and found some bug.
it does not contain IPackageInstallObserver interface and PackageManager class doesnot contain installPackage method.
My application work well with android hidden api version 27
could you please check and fix it
Thanks

[2018-11-27 02:19] devishell opened #51 "How to proguard this lib?"
How to proguard this lib in AS?

[2018-11-27 02:40] devishell commented on #51
@anggrayudi  @johnjohndoe @Trumeet

[2018-11-27 03:01] yoshida-be commented on #50
@anggrayudi could you please check and help me.

[2018-11-27 05:09] anggrayudi commented on #51
This lib does not require proguard rules. It is safe to obfuscate the code.

[2018-11-27 05:09] #51 closed

[2018-11-28 10:02] DarkSherlock opened #52 "android26.jar compile err"
Could not resolve all files for configuration ':app:androidApis'.
Failed to transform file 'android.jar' to match attributes {artifactType=android-mockable-jar, returnDefaultValues=false} using transform MockableJarTransform

studio show this error message when i replace the android.jar of android-26

[2018-12-03 06:38] yoshida-be commented on #50
@anggrayudi @johnjohndoe @Trumeet could you please check this issue?

[2018-12-05 16:35] anggrayudi commented on #50
It is not a bug. It is a drawback of Hidden API and we cannot fix it. Some classes, methods, or resources may be available on certain API level, and there is no guarantee that they'll still exist in the current level. You must be aware of using Hidden API. If needed, you can copy the code of Hidden API into your project. Hidden API is only a bridge for you to see and copy the complete code.

[2018-12-05 16:35] #50 closed

[2018-12-05 16:37] anggrayudi commented on #42
Closed because no response.

[2018-12-05 16:37] #42 closed

[2018-12-05 16:40] anggrayudi commented on #49
In the current version of Android Studio, especially v3.2, some hidden methods are not accessible. We have no idea how to solve this problem. I will keep this issue open until someone found the solution.

[2018-12-05 16:43] anggrayudi commented on #52
This issue comes since Android Studio v3.2. I have no idea for the solution.

[2018-12-05 17:10] anggrayudi commented on #52
Closed as duplicate of #46

[2018-12-05 17:10] #52 closed

[2018-12-05 17:23] anggrayudi commented on #41
Tested on Android Studio 3.2.1 and android-28.jar. No compile error.

[2018-12-05 17:23] #41 closed

[2018-12-05 17:34] josemauricio2 opened #53 "IncompatibleClassChangeError"
Hi, I'm trying to use some hidden methods but I'm having some trouble; I know this is a bit out of the scope of the issues usually posted here but anyway, someone might have seen this error.
The app I'm developing, is vendor signed.

I have a Service, tha runs on the process com.android.phone. It's declared like this on the manifest:
[code]

I try to get an instance of the Phone object, like this:

[2018-12-05 17:53] anggrayudi commented on #40
You are only able to access resources from class `com.android.internal.R`. I have no idea to access resources from another `R` file.

[2018-12-05 17:53] #40 closed

[2018-12-11 16:47] ben221199 commented on #40
Ok, I think some entries should be added to the ``android.R`` class to make some resources public.

[2018-12-17 07:07] yoshida-be commented on #50
@anggrayudi could you please share me code of Hidden API, i want to intergrate into my project

[2018-12-23 04:48] getActivity opened #54 "API 28 Jar Bug"
Application or Activity
![qq 20181223124621](https://user-images.githubusercontent.com/28616817/50380867-f7a04f80-06b0-11e9-9629-309c1a2c4818.jpg)
![qq 20181223124654](https://user-images.githubusercontent.com/28616817/50380870-fbcc6d00-06b0-11e9-961d-f3daef1b080c.jpg)

[2018-12-26 07:30] daio commented on #46
Of course it won't help with the issue of blacklisted APIs with [the new Google policy](https://developer.android.com/about/versions/pie/restrictions-non-sdk-interfaces).

[2018-12-26 08:30] daio commented on #46
Here's [android.jar](https://github.com/anggrayudi/android-hidden-api/files/2709802/android.zip) for API level 28, which I use.

[2018-12-28 01:49] jp1017 commented on #46
Thanks. You make it.

Gradle 4.10.3, gradle plugin: 3.2.1, compile successful, great job. :+1: :smile:

[2019-01-10 09:14] NastuzziSamy commented on #46
Hey guys, it does not work with Gradle >= 3.2 and SDK 27, still got the error :/

However, it is working with Gradle v3.1.4

[2019-01-13 19:36] henrichg commented on #46
NastuzziSamy this os OK.
For target SDK 27 is required gradle plugin 3.1.4.
For target SDK 28 is required gradle plugin 3.2.x.

[2019-01-13 19:38] henrichg commented on #46
NastuzziSamy this is OK.
For compile SDK 27 is required gradle plugin 3.1.4.
For compile SDK 28 is required gradle plugin 3.2.x.

[2019-01-19 03:11] MaxzMeng opened #55 "error with AS 3.3"
ERROR: Failed to transform file 'android.jar' to match attributes {artifactType=android-mockable-jar, returnDefaultValues=false} using transform MockableJarTransform

[2019-01-19 03:14] #55 closed

[2019-02-14 14:12] rgordeev commented on #46
@henrichg could you please explain what versions are compatible with each others. I've tried the following configuration for the project and it didn't work:
* Gradle wrapper
[code]
* Gradle Android build tool plugin
[code]
* SDK version
[code]

And after
[code]

Calling mockable JAR artifact transform to create file: /home/user/.gradle/caches/transforms-1/files-1.1/android.jar/7470a0577854d0dc407e

[2019-02-14 17:52] henrichg commented on #46
Use android.jar from daio, attached in comment on 26 Dec 2018.

I'm using it with your confguration (except targetSDK = 27 and gradle 4.10.1 in my project) an working good. Builded in Android Studio 3.3.1.

[2019-04-04 13:03] E-KAY opened #56 "The code in com.android.server.input path cannot be found"
As the title...
The code in com.android.server.input path cannot be found

[2019-04-19 03:30] chejdj commented on #46
I get the error too, but i replace the Api28 android.jar with origin Api28 android.jar, it is ok

[2019-04-22 09:14] hucaihua commented on #54
the same

[2019-05-03 13:10] mleeaura commented on #46
I wonder how @daio manages to make it work?.

[2019-05-03 15:41] daio commented on #46
@mleeaura I've assembled it from AOSP sources. Seems like pulling framework from device no longer works.

[2019-05-29 21:49] zacharee commented on #46
Using the JAR from @daio works great for Pie. You can even bypass the hidden API restriction easily for your app, through Java or Kotlin.

Subclass the Application class, add it to your manifest, and put this in the `onCreate()` method:

[code]

https://stackoverflow.com/questions/55970137/bypass-androids-hidden-api-restrictions/55970138

[2019-06-03 09:30] aliyazdanipak opened #57 "how can we use it for a compiled apk?"
hi , there is a compiled apk , using android.net.ethernetmanager
as you know after api level 19(kitkat) this class turns into a hidden class.
I want to run this application on lolipop . i dont have access to source codes and it's developer
what is your solution for this case?
compiling custom lolipop rom?
what is your suggestion?

[2019-06-03 16:57] adithyag commented on #46
@daio can you please share how to build the android.jar with hidden APIs from AOSP sources or link to a guide?

[2019-06-05 18:07] arn95 commented on #46
I did the same, however mine is also not working. I wonder how you are merging framework.jar and existing android.jar. I just unzip them both on a folder and rezip them. What process are you following if you don't mind sharing?

[2019-06-05 20:59] daio commented on #46
Sorry, kind of busy lately and I don't have the environment to repeat the process right now. When Android Q is released I'll probably do it again.
Basically I just merged some intermediate jars with command-line utility 'jar'. I don't remember doing anything special, but I may be forgetting something.

[2019-06-05 22:09] adithyag commented on #46
Was it something described here https://stackoverflow.com/a/9118795 ?

[2019-06-06 04:54] daio commented on #46
Something like that. As I remember, I also used MockableJarGenerator from the post above to determine which classes fail the transform. I could have removed some of those.

[2019-06-06 19:44] arn95 commented on #46
Haha. Yeah that's where the money is. I haven't played with it but yours worked for me so I've been using it and it works great.

[2019-06-09 20:57] cikal commented on #21
@IgorEisberg wow thanks dude.. :+1:
just try your trick and my problem get solved, you save my day..

[2019-06-09 21:00] IgorEisberg commented on #21
@cikal Glad it's still useful!

[2019-07-02 08:01] sengeiou opened #58 "How to build android.jar and android studio 3.4 can use"
How to build android.jar in android studio 3.4
thanks

[2019-07-15 06:31] zjupure opened #59 "android-28 jar not match aosp source code"
android-28 cannot compile and access hidden api。
Such as `android.app.ActivityThread#currentActivityThread()`

In the android-28.jar, it seems like private accesss, but in aosp source code, it is public but @hide.
![微信截图_20190715143029](https://user-images.githubusercontent.com/5836221/61198561-1fb6d500-a70d-11e9-86e0-741a57a0e9e3.png)

http://androidxref.com/9.0.0_r3/xref/frameworks/base/core/jav

[2019-07-24 10:56] daio commented on #46
I tried to reproduce the same steps I did last time with P for Q preview 5, but failed.
So I had to improvise and generated android.jar from original android.jar + framework.jar made with turbine(it's a tool that makes a headers-only jar during AOSP build). The downside is that now if you try to browse the sources using Android Studio decompiler, then you're out of luck now as all of the methods h

[2019-07-24 10:58] daio commented on #46
Oh yeah, it doesn't have internal resources because I don't need them

[2019-08-07 07:18] aaghan opened #60 "VolumeInfo And DiskInfo Not Accessible"
android.os.storage.VolumeInfo
android.os.storage.DiskInfo

Previously I could get to work with these files. Currently, they are not being accessible. how to get them on Use again?

[2019-08-13 04:14] Surrin1999 opened #61 "if you have problem like finished with non-zero exit value 1 ,see my solution"
Recently i encounter a problem like inished with **non-zero exit value 1**(sorry i hava not saved the pic)  but i finally resolve it. let me list my my solution steps.

step1 :  check your external libraries ,if you see file name like Androidx and support  at the same time, go to step2 ,if not , you can close this issure cause i can't help you  :(

step2:  the problem is androidX Library and Andro

[2019-08-29 06:07] Belka1000867 commented on #46
Receiving this kind of error from CI pipe.

[2019-09-05 06:22] karan2vel opened #62 "Failed with robolectric 4.0 version for android-28 jar"
Hello,
The robolectric test classes are failing for the with android-28 hidden jar and working fine with normal android.jar file.
The issue I have clearly stated [here](https://github.com/robolectric/robolectric/issues/5246). Please anyone let me know if theres a fix for this issue.

Thx

[2019-09-05 16:49] adithyag commented on #46
@daio can you share one with the latest AOSP release Q-R1? I think a few APIs have changed

[2019-09-30 02:17] foezzy commented on #46
把api28下载下来的jar包替换成这个，这个后缀zip要改成jar，然后同步就没报错了

download this .zip file then rename suffix to .jar
replace the api28 jar downloaded in this project, it works

gradle/5.1.1   gradle tool:3.4.0   api28

[2019-10-14 02:39] ghost opened #63 "Will this project be updated to Android 10？"

[2019-10-14 06:20] anggrayudi commented on #63
I am not sure. But if you have `android.jar` from Android 10, then I will make it available for you.

[2019-10-15 07:10] Richyeohx commented on #63
Can I send it to you by email?

[2019-10-15 07:11] Richyeohx commented on #63
Files on Github are slowly downloaded in China.

[2019-10-18 00:19] tateisu commented on #63
this is PH-1's /system/framework folder.
http://nextcloud.cross.lol/s/ZmWQFCHxNSWjH4J

[2019-10-21 03:22] throne101 opened #64 "startForegroundService方法"
API28里Activity类没有实现Context类的抽象方法startForegroundService

[2019-10-24 11:54] ikalkov commented on #63
Can you create a readme how to generate such jars? Maybe others will create pull requests for newer versions.

[2019-10-24 14:23] tateisu commented on #63
see unresolved issue #46
Maybe we were stranded

[2019-11-12 13:18] KushtrimPacaj commented on #46
[code]

[2019-11-18 06:09] liupengju233 opened #65 "MockableJarTransform"
replaced the android.jar and change compileSdkVersion & targetSdkVersion to 27 in build.gardle
 rebuild  the project then comes the below error , what's wrong ? Thanks.
ERROR: Execution failed for MockableJarTransform: C:\Users\xyz\AppData\Local\Android\Sdk\platforms\android-27\android.jar.

[2019-11-18 06:27] tateisu commented on #65
see #46

[2019-12-04 10:08] juanjecilla commented on #46
@daio jar works fine for compilation but when I try to run unit tests, it fails. Does anyone try to fix that? I am using Android 28.

[2020-02-18 16:23] SCOTT-HAMILTON opened #66 "API 26 crashes"
Hello, I tried your jars because I need the createL2capSocket() function from android.bluetooth.BluetoothDevice. But the application crashed giving me this output :
(I'm using QtCreator, outputs are different from Android Studio)

`
I         : power log dlsym ok
I zygote  : Late-enabling -Xcheck:jni
D ActivityThread: ActivityThread,attachApplication
D HwFLClassLoader: get used feature list :/feat

[2020-02-21 15:57] Vandalko opened #67 "API 28+ JARs require additional processing"
There are multiple issues with the same root cause:

- https://github.com/anggrayudi/android-hidden-api/issues/54
- https://github.com/anggrayudi/android-hidden-api/issues/59
- https://github.com/anggrayudi/android-hidden-api/issues/49

There are a number of methods to overcome this issue:
1) Create your own dummy classes (but that means you wouldn't use this project at all)
2) Post-process `andro

[2020-02-21 16:00] Vandalko commented on #67
P.S. Not posting processed JAR here before I've verified everything works as expected

[2020-02-27 19:00] liangxiwei commented on #66
it seem not the jar problem. you can try to  use reflect api to do what you want and see it work or not.

[2020-03-02 09:22] teffy opened #68 "multi access specifiers functions in android.net.IConnectivityManager.Stub android.os.ServiceManager in android-28"
[code]

[code]

I am not sure if there is any similar case in other classes in android-28.

[2020-03-02 09:34] teffy commented on #68
I checked version 27 and it was correct

[2020-03-04 12:52] Vandalko commented on #67
This JAR worked for me, but I can't guarantee it would satisfy all your needs too
https://drive.google.com/open?id=1Qnu1eWvo70PczJ7OhlSVwbrtU6GmAau7

[2020-03-04 12:53] Vandalko commented on #68
https://github.com/anggrayudi/android-hidden-api/issues/67#issuecomment-594503016

[2020-03-05 01:30] lgxace commented on #46
@daio I want to compile all the APIs (@hidden,@systemAPi,@unsupportAppUse,etc) to android.jar for androidx(android Q), could you please share the means or steps?

Thanks a lot,
Ace

[2020-03-16 04:26] #68 closed

[2020-03-26 04:40] heatonJr opened #69 "<need help>import android.annotation.UnsupportedAppUsage can not be invoked..."
Hello,
I downloaded android-hidden-api/android-28/android.jar, and replaced what default in my project.
some classes can be invoked, e.g. android.annotation.MainThread, Nullable, WorkerThread...
but android.annotation.UnsupportedAppUsage still can not be invoked,

Could you help me to deal with this issue?
Thanks ...
![issue1](https://user-images.githubusercontent.com/61228585/77610892-e6528c80-6f

[2020-03-26 05:20] tateisu commented on #69
can you show what code you need to import it?

[2020-03-26 05:39] heatonJr commented on #69
sure, as below, issue in AsyncTask.class...
![issue](https://user-images.githubusercontent.com/61228585/77614005-2584db80-6f67-11ea-89d2-c32776e465d8.jpg)

[2020-03-26 11:42] tateisu commented on #69
that annotation has no real effect on Android Studio, you can add the same FQN empty annotation to your code.

[2020-03-26 13:10] heatonJr commented on #69
okay, thanks ...

[2020-04-03 05:50] excitedhaha opened #70 "Android 10(API29) needed"

[2020-04-14 07:28] Reginer commented on #70
[android29.jar](https://github.com/Reginer/File/raw/master/android29.rar)  which I use.
unzip it, try 1 try

[2020-04-14 08:09] Reginer commented on #63
[android29.jar](https://github.com/Reginer/File/raw/master/android29.rar)  which I use.
unzip it, try 1 try

[2020-04-14 09:56] anggrayudi commented on #63
@ikalkov I will provide the tutorial later. Maybe on this Saturday or Sunday.

[2020-04-14 09:59] anggrayudi commented on #70
Did the file you @Reginer share is a customized JAR that has been combined with `framework.jar`?

[2020-04-14 10:03] Reginer commented on #70
I think it's been combined .

`android.media.AudioAttributes`   is  different

[2020-04-27 00:40] aeab13 commented on #46
I've also been able to generate an android.jar with AOSP hidden API that works with newer Gradle versions (tested with 6.2). This week (probably tomorrow) I'll share the steps and even a script.

[2020-04-27 16:07] aeab13 commented on #46
Checkout this repo I've just created
https://github.com/aeab13/android-jar-with-hidden-api/

[2020-04-28 18:06] henrichg commented on #46
@aeab13 Tested android,jar form https://github.com/aeab13/android-jar-with-hidden-api/ and working good for my application PhoneProfilesPlus. Thank you very much.

[2020-04-29 17:25] aeab13 commented on #46
You are welcome @henrichg . Let me know if you find any issues.

[2020-04-30 22:33] anvyal commented on #70
@anggrayudi, can you please update API29 in the repo?

[2020-05-02 11:16] anggrayudi commented on #70
Uploaded here @anvyal, https://github.com/anggrayudi/android-hidden-api/commit/b4b57a46783393dd5978f660d365cca456d3eafd

Thanks @Reginer

[2020-05-02 11:16] #70 closed

[2020-05-02 11:18] anggrayudi commented on #63
`android-29` has been uploaded here https://github.com/anggrayudi/android-hidden-api/commit/b4b57a46783393dd5978f660d365cca456d3eafd
Thanks to @Reginer

[2020-05-02 11:18] #63 closed

[2020-05-02 20:51] anvyal commented on #70
Thanks a lot @anggrayudi.. This project of yours is very useful.. !!

[2020-05-13 06:40] SummerOak commented on #46
DIsable lint check by adding the config works for me :
android {
    ....
    lintOptions {
        checkReleaseBuilds false
    }
   ...
}

[2020-05-13 14:44] anvyal opened #71 "Android-R apis required"
Hi
Is it possible to upload jar for Android-R apis as well?

Would be happy to contribute as well if I get little help on understanding the process of generating these jar files

Thanks,

[2020-05-13 15:16] anvyal commented on #71
Ouch.. looks like sources are still not available..

[2020-05-15 11:17] DonMorr commented on #63
@anggrayudi Did you get a chance to provide the tutorial? Thank you

[2020-05-27 08:50] DonMorr opened #72 "Instructions for creating the Android.jar files with hidden API"
Hi @anggrayudi ,
Could you please provide some basic instructions on how to generate the Android.jar file with hidden APIs? I'm working on a custom Android platform and would like to know how to do this.
Thank you for your help,
Donal

[2020-05-28 13:37] DonMorr commented on #67
Hi @Vandalko , are you able to share the step to create the JAR file? I have an Android Source project which I need to generate the Android.jar file for. Thank you.

[2020-05-28 13:42] Vandalko commented on #67
the code is far from beautiful, but it worked for me...

[code]

[2020-05-28 13:53] DonMorr commented on #67
@Vandalko Cheers for sharing. Is this something you created yourself of got from somewhere?

[2020-05-28 14:01] Vandalko commented on #67
it's based on examples from

- https://riptutorial.com/java/example/12965/how-to-edit-jar-files-with-asm
- https://asm.ow2.io/faq.html

[2020-05-29 11:19] anggrayudi commented on #72
Hello @DonMorr, I have wrote it here:
https://medium.com/@hardiannicko/create-your-own-android-hidden-apis-fa3cca02d345
Check it out!

[2020-05-29 11:19] #72 closed

[2020-05-29 11:20] anggrayudi commented on #47
Hello @ksmith3036, I have wrote it here:
https://medium.com/@hardiannicko/create-your-own-android-hidden-apis-fa3cca02d345
Check it out!

[2020-05-29 11:20] #47 closed

[2020-05-29 11:24] anggrayudi commented on #71
You can create your own `android.jar` as I have wrote it here:
https://medium.com/@hardiannicko/create-your-own-android-hidden-apis-fa3cca02d345

But I wont recommend you to use it now since Android R is still in preview, so it is not stable yet.

[2020-05-29 12:48] DonMorr commented on #72
Hi @anggrayudi, Excellent, thank you for sharing this!
Best regards,
Donal

[2020-06-11 03:20] binbin594738977 opened #73 "另一个解决方案"
https://github.com/binbin594738977/AndroidFramework-soundCode

[2020-07-31 08:04] feihuang16381 opened #74 "runtime error"
Error: symbol not found

Symbol: method getcountrycode ()

Location: variable mwifimanager of type WiFi Manager

[2020-08-11 20:30] tyczj commented on #67
Just tried this and I got a bunch of errors for Activity where `super.OnCreate` was private and couldn't use and `TimerTask` init was also private

[2020-09-03 10:18] ShawnXiaFei opened #75 "File Format Error Of Android-29"
Hello,

The **android.jar** in **android-29**  is not a Real jar.
In fact, it is ...

 |---- android29
 |-------- android29.jar

And, **android29.jar** can not access to `@hide`-class. eg. `android/util/ByteStringUtils.java`.
[code]

[2020-09-21 11:29] jonesjing opened #76 "Android 29 jar Gradle sync failed"
Gradle sync failed: Could not resolve all files for configuration ':app:androidApis'.
			Failed to transform android.jar to match attributes {artifactType=android-mockable-jar, org.gradle.libraryelements=jar, org.gradle.usage=java-runtime, returnDefaultValues=false}.
			Execution failed for MockableJarTransform: /Users/liujing/Library/Android/sdk/platforms/android-29/android.jar.
			Cannot create

[2020-09-29 05:58] motis10 opened #77 "Android Pie v28 ConnectivityManager is full of @SystemApi and @hide"
A lot of functions stay with annotations of @SystemApi and @hide so I can't call them.

[2020-10-09 03:55] Reginer opened #78 "Android30.jar download"
[android30.7z](https://github.com/Reginer/File/raw/master/android30.7z)

unzip it

[2020-10-09 08:35] anggrayudi commented on #78
Is this JAR ready to be used as hidden API, or should we combine it with `framework.jar` first?

[2020-10-09 08:38] Reginer commented on #78
Has merged  out/target/common/obj/JAVA_LIBRARIES/framework_intermediates/classes-header.jar  and android.jar .

[2020-10-09 08:50] anggrayudi commented on #78
From which device you obtained the `framework.jar`?

[2020-10-09 08:53] Reginer commented on #78
classes-header.jar is framework.jar。
aosp android-11.0.0_r3

[2020-10-09 09:21] Reginer commented on #78
I downloaded and maked AOSP，The classes-header.jar  was copied from its out folder.

[2020-10-09 10:05] anggrayudi commented on #78
Ok, thanks @Reginer. I will test and merge it to master later.

[2020-11-19 10:59] anggrayudi commented on #78
Pushed to the latest commit on master branch.

[2020-11-19 10:59] #78 closed

[2020-11-20 07:36] Reginer commented on #46
I fix it .

 `com.android.tools.build:gradle:4.1.0` , same as other versions.

Create class `com.android.builder.testing.MockableJarGenerator`

method:
[code]
build project.

Replace class `com.android.builder.testing.MockableJarGenerator` in `builder-4.1.0.jar`

located in  `gradle path\caches\modules-2\files-2.1\com.android.tools.build\builder\4.1.0\aec0494498d0c8b9b46c226bf0ff02d73a299cac`

det

[2020-11-24 14:53] goodandrewsoft opened #79 "com.android.okhttp - 23"
Please tell
Where the com.android.okhttp library in 23 api is located?

[2020-12-03 10:49] gspeiliu opened #80 "import failed"
Hi,

I updated my local android.jar with android-30.jar.
However, when I execute "import static com.android.server.accessibility.AccessibilityInputFilter.FLAG_FEATURE_AUTOCLICK;", it shows that there does not exist AccessibilityInputFilter.
The source file can be found on the site: https://android.googlesource.com/platform/frameworks/base/+/android-11.0.0_r1/services/accessibility/java/com/android

[2021-01-21 15:59] bobpf commented on #76
I get the same issue

[2021-01-23 19:05] SCOTT-HAMILTON commented on #66
Not sure to understand what the reflect API has to do with this issue. Thanks anyway, I gave up on this, closing the issue.

[2021-01-23 19:05] #66 closed

[2021-02-07 08:21] microdog opened #81 "Misleading file extension in android-29"
The `android.jar` uploaded to Google Drive under `android-29` is actually a RAR archive instead of a JAR archive.

This is very misleading and if someone wasn't aware of it, the project will not be able to be synced. (#76, https://github.com/anggrayudi/android-hidden-api/issues/70#issuecomment-667042013)

[code]

[2021-06-06 15:18] map220v opened #82 "Android-30 missing apis from services.jar, framework-wifi.jar etc"
I Tried to use android.net.wifi.WifiSsid.createFromAsciiEncoded("") and com.android.server.SystemService but WifiSsid and SystemService classes is missing.

I found these classes in framework-wifi.jar and services.jar

Also it's seems that some of jar files from BOOTCLASSPATH doesn't exists in android-30.jar

[2021-06-06 17:22] map220v commented on #82
Just made android.jar using android-30.jar from here as base
Added these libraries from bootclasspath:
android.net.ipsec.ike.jar
bouncycastle.jar
com.android.location.provider.jar
conscrypt.jar
ethernet-service.jar
ext.jar
services.jar
telephony-common.jar
framework-mediaprovider.jar
framework-permission.jar
framework-statsd.jar
framework-tethering.jar
framework-wifi.jar
ims-common.jar
okhttp.jar

[2021-06-18 14:39] jesdan002 opened #83 "android-18.jar"
android-18.jar is not at google drive folder

[2021-06-18 17:12] anggrayudi commented on #82
Thanks, I've uploaded it.

[2021-06-18 17:12] #82 closed

[2021-07-21 15:12] philippegoncalves opened #84 "android.jar for api30 from Google Drive does not work anymore"
I believe the jar is broken, was working previously, but new jar added recently produces the following error at assemble:

[code]

Replacing by previous jar fixes the issue, size is different: good jar is about 28M, wrong one is 47M

[2021-07-22 00:56] sunxiaobiu commented on #84
same issue here, any ideas?

[2021-08-01 04:29] sunxiaobiu commented on #84
I use the command './gradlew assembleDebug --info' to build my project and it turned out to be successful。。。

[2021-08-18 16:03] gitaudotdev commented on #46
Solved this issue by locating the Platforms folder on local machine @ C:\Users\user\Appdata\local\Android\sdk\platforms deleted the platform version that had issues in my case android-30 then reopened my IDE and proceeded to redownload the SDK again. The error dissappeared

[2021-09-02 11:53] yanchunlan opened #85 "" protected private? " (hidden-api-28 )"
android.text.StaticLayout

@Deprecated
  protected private StaticLayout(CharSequence var1, int var2, int var3, TextPaint var4, int var5, Alignment var6, TextDirectionHeuristic var7, float var8, float var9, boolean var10, TruncateAt var11, int var12, int var13) {
...
}

protected private ????

[2021-09-13 03:46] Reginer commented on #84
[Try this](https://github.com/Reginer/aosp-android-jar/blob/main/android-30/android.jar)

[2021-09-13 10:24] henrichg commented on #84
@Reginer thank you very much.  Build working ;-)

[2021-09-17 14:09] z3r0r4 commented on #84
no idea if this can be trusted but it works.
Thanks a lot

[2021-09-25 09:31] arzpgh60 commented on #85
``

[2021-10-01 09:50] henrichg commented on #84
Working good. Tested in Galaxy S21, S10 with Android 11, Xiaomi Reddmi Note 9 with Android 11, Pixel 3a with Android 12 beta 5.  Also working in mu app users.

[2021-11-06 16:19] elesbb commented on #84
This does work. It is significantly smaller in size though. Is it missing any hidden classes?

[2021-11-08 05:35] Reginer commented on #84
Of cause not，It only include frameworks.jar，no services.jar

[2021-11-08 14:37] elesbb commented on #84
Ah that makes sense. Is there any way to include services.jar?

[2021-11-09 01:30] Reginer commented on #84
[services.jar](https://github.com/Reginer/aosp-android-jar/blob/main/android-31/services.jar)

`compileOnly services.jar`

[2021-11-19 08:33] AhmedX6 opened #86 "For Android 12"
Hello is it possible to have Android 12 hidden API jar file on drive ?

[2021-12-01 00:54] CpuTurbo commented on #86
https://github.com/Reginer/aosp-android-jar

[2021-12-16 05:51] Cristiandiazmolick commented on #86
I’m sorry but I never sent this nor any other email related to this matter

On Wed, Dec 15, 2021 at 8:31 AM Roman ***@***.***> wrote:

[2021-12-21 01:20] CpuTurbo commented on #86
For you, just replace android.jar will work.

[2021-12-23 20:53] AhmedX6 commented on #86
Thanks a lot

[2021-12-23 20:53] #86 closed

[2021-12-28 13:34] BogdanLivadariu opened #87 "compile using AGP 7.x ?"
has anyone managed to compile a project that uses any of the hidden apis from `android.jar` hosted here along with android gradle plugin 7.x ?

[2022-03-01 03:21] vindastar commented on #76
I get the same issue !

[2022-03-01 03:21] vindastar commented on #76
me too.

[2022-03-18 17:47] abraaocaldas opened #88 "Android API 31 - 32"
Hello,

Any news on JAR for API 31 - 32?

Thanks!

[2022-05-07 03:21] Reginer commented on #87
https://github.com/Reginer/aosp-android-jar

[2022-05-29 16:01] DADi590 commented on #88
In case anyone is really needing them, there's this repository from another Issue: https://github.com/Reginer/aosp-android-jar. Currently it has from 29 to 32. 30-32 seem to be working normally (didn't try 29, as that one I have from this repo).

[2022-10-25 04:53] AlexandrKozlovskiy opened #90 "gradle fails with custom android.jar"
Hello. I tryed to build android.jar using your guide. I pull [framework.jar](https://github.com/anggrayudi/android-hidden-api/files/9857173/framework.zip) and build [android.jar](https://drive.google.com/file/d/1wOSVDViAXqqH3miuFlx0b7Yu5WibESw8/view?usp=sharing),but in gradle i get an error:

[code]

Please help me fix this issue and update build guide,if it needed.